body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center; /* 使导航链接居中 */
}

nav ul li {
  text-align: center;
  display: inline-block; /* 让导航项水平排列 */
  margin-right: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; /* 设置链接的字体大小 */
}

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* 其他功能 */

/* 图片上加文字 */
#about {
  position: relative;
}

#about img {
  width: 100%;
  display: block; /* 确保图片占满容器 */
}

#about .text-overlay {
  position: absolute;
  top: 20%;
  /* left: 50%; */
  /* transform: translateX(-50%); 使文字居中 */
  /* text-align: center; */
  left: 5%; /* 文字从左侧开始 */
  text-align: left; /* 改为左对齐 */
  color: white;
  padding: 10px;
  max-width: 90%;
  z-index: 1; /* 确保文字显示在图片之上 */
}

#about .text-overlay h2 {
  font-size: 2em; /* 第一段文字的字体较大 */
  font-weight: bold; /* 第一段文字加粗 */
}

#about .text-overlay p {
  font-size: 1.2em; /* 第二段文字的字体较小 */
  line-height: 1.6;
}


/* #twofold4intro Styles */
/* #twofold4intro Start */
#twofold4intro {
  display: flex;
}

#twofold4intro .left-column {
  width: 30%;
  text-align: center;
  padding: 5px;
}

#twofold4intro .left-column p {
  margin: 1px 0;
}

#twofold4intro .right-column {
  width: 70%;
  padding: 10px;
}

#twofold4intro .right-column p {
  margin: 5px 0px 20px 0px;
}

#twofold4intro img.format1 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#twofold4intro img.format2 {
  border-radius: 0;
  width: 30px;
  height: 30px;
  /* margin-bottom: 10px;
  margin-right: 10px; */
  line-height: 0;
}


#twofold4intro .google-scholar {
  margin-top: 10px;
}

#twofold4intro .news {
  background-color: #f9f9f9;
  /* padding: 10px; */
  /* margin-top: 20px; */
}

@media (max-width: 768px) {
  #twofold4intro {
    flex-direction: column;
  }

  #twofold4intro .left-column {
    width: 100%;
  }

  #twofold4intro .right-column {
    width: 100%;
  }
}
/* #twofold4intro End */